<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>

    <!-- Logout button -->
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/trip-list']">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <p>RETOUR</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div id='map' class="map" leaflet [leafletOptions]="mapOptions"
    (leafletMapReady)="onMapReady($event)" [leafletLayers]="mapMarkers"
    ></div>
    <ion-grid>
      <ion-row>
        <ion-col>
      <img src="http://placehold.it/150x150" alt="">
        </ion-col>
        <ion-col>
          <ion-label>POULET</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
