ion-button {
  float: right;
  width: 100%;
}

.ion-padding > ion-text {
  text-align: center;
}

form{
  justify-content: space-between;
}

ion-item {
  margin-top:20px;
}

ion-list {
  background-color: transparent;
}
