<ion-grid id="container">
  <ion-row>
    <ion-col>
      <div id="img_container"><img src="assets/img/register_img.png"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1 id="welcome">WELCOME !</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form #registerForm="ngForm" (submit)="createUser(registerForm)">
        <ion-list>
          <!-- Username input -->
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input inputmode="text" #username="ngModel" minlength="3" maxlength="25" required="true" name="username"
              [(ngModel)]="registerRequest.username"></ion-input>
          </ion-item>

          <!-- Error message displayed if the username is invalid -->
          <ion-item lines="none" *ngIf="username.invalid && username.touched">
            <ion-text *ngIf="username.errors?.['required']" color="danger">Username is required.</ion-text>
            <ion-text *ngIf="username.errors?.['minlength']" color="danger">Username must be at least 3 characters</ion-text>
            <ion-text *ngIf="username.errors?.['maxlength']" color="danger">Username must be lower or equal to 25 characters</ion-text>
          </ion-item>

          <!-- Password input -->
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input inputmode="text" #password="ngModel" minlength="4" required="true" type="password" name="password"
              [(ngModel)]="registerRequest.password"></ion-input>
          </ion-item>

          <!-- Error message displayed if the password is invalid -->
          <ion-item lines="none" *ngIf="password.invalid && password.touched">
            <ion-text *ngIf="password.errors?.['required']" color="danger">Password is required.</ion-text>
            <ion-text *ngIf="password.errors?.['minlength']" color="danger">Password must be at least 4 characters</ion-text>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <!-- Submit button -->
          <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">register</ion-button>

          <!-- Error message displayed if the register failed -->
          <br>
          <br>
          <ion-text color="danger" *ngIf="registerError">Username or password is invalid.</ion-text>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Already have an account ? <a href="/login">Log in !</a></p>
    </ion-col>
  </ion-row>
</ion-grid>
