<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>

    <!-- Logout button -->
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/trip-list']">
        <ion-icon name="arrow-back-outline">Retour</ion-icon>
        <p>RETOUR</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col><h1>ADD TRIP</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form #addTripForm="ngForm" (submit)="addTrip(addTripForm)">
          <ion-list lines="none">
            <!-- Title input -->
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-input
                inputmode="text"
                required="true"
                name="titleInput"
                minlength="3"
                maxlength="100"
                #titleInput="ngModel"
                [(ngModel)]="title"
              ></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="titleInput.invalid && titleInput.touched">
              <ion-text *ngIf="titleInput.errors?.['required']" color="danger">Title is required.</ion-text>
              <ion-text *ngIf="titleInput.errors?.['minlength']" color="danger">Title must be at least 3 characters</ion-text>
              <ion-text *ngIf="titleInput.errors?.['maxlength']" color="danger">Title must be lower or equal to 100 characters</ion-text>
            </ion-item>
    
    
            <!-- Description input -->
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea
                rows="8"
                required="true"
                name="descriptionInput"
                minlength="5"
                maxlength="50000"
                #descriptionInput="ngModel"
                [(ngModel)]="description"
                name="description"
              ></ion-textarea>
            </ion-item>
            <ion-item lines="none" *ngIf="descriptionInput.invalid && descriptionInput.touched">
              <ion-text *ngIf="descriptionInput.errors?.['required']" color="danger">Description is required.</ion-text>
              <ion-text *ngIf="descriptionInput.errors?.['minlength']" color="danger">Description must be at least 5 characters</ion-text>
              <ion-text *ngIf="descriptionInput.errors?.['maxlength']" color="danger">Description must be lower or equal to 50000 characters</ion-text>
            </ion-item>
          </ion-list>
    
          <div class="ion-padding">
            <!-- Create button -->
            <ion-button type="submit" [disabled]="addTripForm.invalid">Add</ion-button>
            <br>
            <br>
            <ion-text color="danger" *ngIf="tripError">Invalid title or description</ion-text>
          </div>
        </form>
  </ion-col>
  </ion-row>
    </ion-grid>
</ion-content>
