ion-item{
  margin-top: 20px;
  border-radius: 5px;
  border:none;
}

ion-list {
  background-color: transparent;
}


ion-item-option{
  margin-top: 20px;
  &:last-child{
    border-radius: 0 5px 5px 0;

  }
  &:first-child {
    padding-left: 10px;
    margin-left:-10px;
  }
}


