<ion-header>
  <ion-toolbar>
    <ion-title>TripList</ion-title>

    <!-- Logout button -->
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>BAD HAIR DAY</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchbar" placeholder="Search" debounce="700" (ionChange)="search()" [(ngModel)]="searchingText"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines=none>
          <ion-item *ngFor="let trip of trips" (click)="openTrip(trip)">
            <ion-label>
              <h2>{{ trip.title }}</h2>
              <p>{{ trip.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
