h1 {
    text-align: center;
}

ion-item {
    margin-top:20px;
}

ion-list {
    background-color: transparent;
}

#coordinates {
    text-align: center;
}

#coordinates_icon {
    margin-left: 5%;
}