<ion-header>
  <ion-toolbar>
    <ion-title>CreatePlace</ion-title>

    <!-- Logout button -->
    <ion-buttons slot="start">
      <ion-button (click)="backToPlacesMap()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <p>RETOUR</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col><h1>ADD PLACE</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form #addPlaceForm="ngForm" (submit)="addPlace(addPlaceForm)">
      <ion-list lines="none">
        <!-- Title input -->
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              inputmode="text"
              required="true"
              name="nameInput"
              minlength="3"
              maxlength="100"
              #nameInput="ngModel"
              [(ngModel)]="name"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="nameInput.invalid && nameInput.touched">
            <ion-text *ngIf="nameInput.errors?.['required']" color="danger">Name is required.</ion-text>
            <ion-text *ngIf="nameInput.errors?.['minlength']" color="danger">Name must be at least 3 characters</ion-text>
            <ion-text *ngIf="nameInput.errors?.['maxlength']" color="danger">Name must be lower or equal to 100 characters</ion-text>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
        <!-- Description input -->
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea
            rows="8"
            required="true"
            name="descriptionInput"
            minlength="5"
            maxlength="50000"
            #descriptionInput="ngModel"
            [(ngModel)]="description"
            name="description"
          ></ion-textarea>
        </ion-item>
        <ion-item lines="none" *ngIf="descriptionInput.invalid && descriptionInput.touched">
          <ion-text *ngIf="descriptionInput.errors?.['required']" color="danger">Description is required.</ion-text>
          <ion-text *ngIf="descriptionInput.errors?.['minlength']" color="danger">Description must be at least 5 characters</ion-text>
          <ion-text *ngIf="descriptionInput.errors?.['maxlength']" color="danger">Description must be lower or equal to 50000 characters</ion-text>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-label position="floating">Position</ion-label>
        <p id="coordinates">[{{latitude}}, {{longitude}}] <ion-icon (click)="printCurrentPosition()" id="coordinates_icon" name="refresh-outline"></ion-icon></p>

      </div>
      <div class="ion-padding">
        <ion-label position="floating">Photo</ion-label>
        <ion-button (click)="takePicture()" color="light" expand="block" type="submit" name="picture">Take a picture...</ion-button>
      </div>
      <div class="ion-padding">
        <ion-img *ngIf="picture != undefined" [src]="picture.url"></ion-img>
      </div>
      <div class="ion-padding">
        <!-- Create button -->
        <ion-button expand="block" type="submit" [disabled]="addPlaceForm.invalid">Create</ion-button>
      </div>
    </form>
  </ion-col>
  </ion-row>
    </ion-grid>
</ion-content>
